
body {
  position: relative;
  background-image:  url(./Images/scene.svg);
  background-position: right 0;
  background-repeat:  no-repeat;
  background-size: 100% auto;
} 

.mobel {
  position: absolute;
  background-image: url(./Images/mobel.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 45%;
  height: 45%;
  top: 115%;
}

@media only screen and (max-width: 960px) {
  .mobel {
    top: 70%;
  }
}
